# 忽略的配置文件

# IntenlliJ IDEA
.idea/
*.iml

# Eclipse project
.project
.classpath
.settings/

# Gradle projrct
.gradel/
build/

#Android files
bin/
gen/
out/
local.properties

# Temp files
*.bak
*.tmp
*.temp
THumbs.db
.DS.Store
